.section {
  margin-top: 50px;
}

.explanation {
  display: flex;
  align-items: center;
  height: 500px;
  padding-top: 30px;
}

.explanationInverted {
  flex-direction: row-reverse;
}

.explanationImage {
  width:424.8px;
  height: 306.4px;
  background-color: lightgray;
  border-color: black;
  border-width: 5px;
}

.explanationTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding-left: 80px;
  padding-right:0px;
}

.explanationTextContainerInverted {
  padding-left: 0px;
  padding-right: 80px;
}

.explanationTitle {
  font-size: 45px;
  font-weight: bold;
  line-height: normal;
}

.explanationContent{
  font-size: 20px;
  line-height: normal;
  margin-top: 15px;
}


@media only screen and (max-width: 1000px) {

  .explanation {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

  .explanationInverted {
    flex-direction: column;
  }

  .explanationImage {
    margin-top: 50px;
    width: 340px;
    height: 245px; 
  }

  .explanationTitle {
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
 } 

  .explanationContent {
    font-size: 18px;
    line-height: normal;
    text-align: center;
  }

  .explanationTextContainer {
    width: 350px;
    padding: 0;
  }

  .explanationTextContainerInverted {
    padding: 0;
  }


}