.section {
  
}

.explanation {
  display: flex;
  align-items: center;
  height: 450px;
}

.explanationInverted {
  flex-direction: row-reverse;
}

.explanationImage {
  width: 450px;
  height: 300px;
  background-color: lightgray;
  border-radius: 30px;
}

.explanationTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 0 30px;
}

.explanationTitle {
  font-size: 45px;
  font-weight: bold;
  line-height: normal;
}

.explanationContent{
  font-size: 20px;
  line-height: normal;
  margin-top: 15px;
}


@media only screen and (max-width: 1000px) {

  .explanation {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

  .explanationInverted {
    flex-direction: column;
  }

  .explanationImage {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .explanationTitle {
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
 } 

  .explanationContent {
    font-size: 18px;
    line-height: normal;
    text-align: center;
  }

  .explanationTextContainer {
    width: 400px
  }


}