.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: 'Inter';
  margin-top: 200px;
  text-decoration: underline;
}

.features {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  width: 350px;
  padding: 35px;
  /* border: 1px solid black; */
}

.featureHeader {
  font-size: 17px;
  font-weight: bold;
  color: black;
  font-family: 'Inter';
  padding-top: 10px;
  padding-bottom: 5px;
}

.featureDescription {
  font-size: 14px;
  padding-top: 10px;
  font-weight: normal;
  color: black;
  font-family: 'Inter';
}

.featureIcon {
  width: 33px;
  height: 33px;
}

@media only screen and (max-width: 1000px) {
  .header {
    font-size: 20px;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 80%;
    min-width: 300px;
  }
}