.navBar {
  height: 88px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  /* position: fixed; */
  top: 0;
}

.badgeLogo {
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'AsgardFitMedium';
}

.loginButton {
  height: 60px;
  width: 200px;
  background-color: black;
  visibility: visible;
  border-radius: 30px;
  margin-right: 40px;
  color: white;
  font: 'Inter';
  font-weight: bold;
  font-size: 14px;
  transition-duration: 0.2s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
}

.loginButton:hover {
  height: 60px;
  width: 215px;
  transition-duration: 0.2s;
  background-color: royalblue;
}


@media only screen and (max-width: 850px) {

  .navBar {
    height: 60px;
  }

  .badgeLogo {
    font-size: 25px;
    margin-left: 20px;
  }

  .loginButton {
    height: 40px;
    width: 133px;
    background-color: black;
    border-radius: 30px;
    margin-right: 25px;
    font-size: 8px;
  }

  .loginButton:hover {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    transition-duration: 0.2s;
    background-color: royalblue;
  }

}