.container {
  background-color: white;
  width: 735px;
  height: auto;
  padding-bottom: 30px;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: expandToFull 0.25s ease-in-out;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0px;
  padding: 0;
  margin-top: 40px;
}

.contentRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 423px;
}


.badgeCardContainer {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  animation: fadeIn 0.25s ease-in-out;
}

/* Form text box*/

.formTextBoxContainer {
  width: 350px;
  margin-bottom: 10px;
}

.mediaContainer {
  width: 350px;
}


.formTextBoxTitle {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-left: 5px;
  margin-bottom: 8px;
}

.mediaSelectionBox {
  width: 100%;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 10px;
  /* margin-right: 25px; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mediaSelectionHeader {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-left: 5px;
  margin-bottom: 8px;
}

.mediaSelectionText {
  font-family: 'Inter';
  font-size: 13px;
  color: black;
  margin-left: 15px;
  font-weight: bold;
}

.mediaSelectButton {
  font-size: 13px;
  margin-right: 15px;
  color: goldenrod
}

.backButton {
  font-size: 15px;
  color: #D84242;
  margin-top: 10px;
  animation: fadeInFromTop 0.25s ease-in-out;
}

.backButtonFadeIn {
  animation: fadeInFromTop 0.25s ease-in-out;
  opacity: 1;
}

.backButtonFadeOut {
  animation: fadeOutToTop 0.25s ease-in-out;
  opacity: 0;
}

.listBoxContainer {
  /* border-width: 1px; */
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 17px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.listBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-width: 1px;
}

.listBoxButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: clear;
  position: absolute;
  font-weight: bold;
}

.selector {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: darkgray
}

.checkIcon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: green;
}

.listBoxTitle {
  margin-left: 20px;
}

.listBoxOptionsContainer {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  position: absolute;
  border-width: 1px;
  clip: inherit;
}

.listBoxOption {
  width: 100%;
  /* background-color: blue;  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.listBoxOption:hover {
  background-color: rgb(253, 255, 154)
}

@media only screen and (max-width: 850px) {

  .container {
    width: 360px;
    height: 1000px;
  }

  .badgeCardContainer {
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .contentContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
  }

  .contentRightContainer {
    animation: fadeIn 0.25s ease-in-out;
  }

  .formTextBoxContainer {
    margin-bottom: 10px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
  }

  .mediaContainer {
    width: 100%;
  }

}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutToTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes expandToFull {
  0% {
    opacity: 0;
    /* height: 0px; */
  }

  100% {
    opacity: 1;
  }
}