
.entryContainer {
  height: 200px;
  width: 420px;
  background-color: white;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.1s ease-in-out;
  justify-content: center;
}

.progressBarFiller {
  background: linear-gradient(180deg, rgb(131, 255, 30) 0%, rgb(218, 255, 7) 100%);
  width: 50%;
}

.loadingHeader {
  font-family: 'Asgard';
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  text-align: center; 
}

.loadingSubtitle {
  font-family: 'Inter';
  font-size: 15px;
}
@media only screen and (max-width: 850px) {
    .entryContainer {
      height: 200px;
      width: 336px;
      background-color: white;
      border-radius: 14px;
      margin-top: 50px;;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
}