.entryContainer {
  height: 450px;
  width: 420px;
  background-color: white;
  border-radius: 14px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.1s ease-in-out;
}

.progressBarFiller {
  background: linear-gradient(90deg, rgb(26, 75, 255) 0%, rgb(98, 216, 249) 70%);
  width: 50%;
}

.loadingHeader {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  text-align: center; 
}
@media only screen and (max-width: 850px) {
    .entryContainer {
      height: 376px;
      width: 280px;
      background-color: white;
      border-radius: 14px;
      margin-top: 50px;;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
}