.container {
  width: 420px;
  height: 680px;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.successImage {
  margin-top: 20px;
  height: 70px;
  width: 70px;
}

.successHeader {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.detailsContainer{
  height: 62%;
  width: 90%;
  background-color: #F5F5F5;
  border-radius: 15px;
  margin-top: 20px;
}

.detailsHeader {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 18px;
}

.detailsTextContainer {
  margin: 20px 20px;
}

.detail {
  margin-top: 15px;
}

.button {
  margin-top: 30px;
}


@media only screen and (max-width: 850px) {
  .container {
    width: 320px;
    height: 650px;
  }
}