.container {
  width: 420px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 25px;
  animation: expand 0.2s ease-in-out;
}

.contentContainer {
  all: inherit;
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /* animation: fadeIn 1.2s ease-in-out; */
}

.successImage {
  height: 50px;
}

.successHeader {
  font-family: 'Asgard';
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.detailsContainer {
  height: auto;
  width: 90%;
  background-color: #F5F5F5;
  border-radius: 15px;
  margin-top: 20px;
}

.detailsHeader {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 18px;
}

.detailsTextContainer {
  margin: 15px 20px;
}

.detail {
  margin-top: 15px;
}

.viewAssetButton {
  margin-top: 30px;
}

.continueButton {
  margin-top: 10px;
  font-family: 'Inter';
  font-size: 15px;
  transition-duration: 0.1s;
  color: black
}

.continueButton:hover {
  font-weight: bold;
}

@keyframes expand {
  0% {
    opacity: 0;
    height: 200px;
  }

  100% {
    opacity: 1;
    height: 500px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media only screen and (max-width: 850px) {
  .container {
    width: 320px;
  }

  .successImage {
    height: 38px;
  }

  .successHeader {
    font-size: 16px;
  }

  .detailsHeader {
    font-size: 15px;
  }
}