/* GenesisPage styles */
.background {
  background-color: #F4F4F4;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.pageContainer {
  height: 100%;
  width: 100%;
  
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* DeployEntityEntryView styles */
.entryContainer {
  height: 450px;
  width: 420px;
  background-color: white;
  border-radius: 14px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.1s ease-in-out;
}

.entryContainerTopGradientSection {
  height: 40%;
  width: 95%;
  margin-top: 2.5%;
  background-image: linear-gradient(135deg, #204066, #FFFFFF);
  border-radius: 5px;;
  overflow:hidden;
}

.noise {
  overflow: hidden;
  background: url('/images/landingPage/noise.png');
  height: 100%;
  width: 100%;
}

.formContainerView {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: clear;
  width: 85%;
  height: 40%;
  margin-top: 35px;
}

.formHeaderText {
  font-family: 'Inter';
  font-weight: bold;
  color: #323232;
  font-size: 15px;
  padding-left: 5px;
}

.formHeaderSubtitleText {
  font-family: 'Inter';
  color: #323232;
  font-size: 13px;
  padding-left: 5px;
}

.formTextFieldContainer {
  height: 55px;
  width: 100%;
  background-color: #EFEFEF;
  border-radius: 12px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.formTextField {
  width: 90%;
  background-color: transparent;
  outline-width: 0;
  margin-left: 15px;
}

.deployButton {
  width: 155px;
  height: 50px;
  background-color: black;
  font: 'Inter';
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  transition-duration: 0.2s;
}

.deployButton:hover {
  width: 175px;
  transition-duration: 0.2s;
}

/* DeployEntityLoadingView styles */
.loadingContainer { 
<<<<<<< HEAD
  height: 200px;
  justify-content: center;
=======
  height: 260px;
>>>>>>> main
  background-color: white;
}
.animationDuration {
  transition-duration: 0.5s;
}

/* DeployEntitySuccessView styles */
.successContainer {
  height: 580px;
}


.blackBadge {
  margin-top: 30px;
}

.successHeader {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  text-align: center; 
}

.successSubheader {
  font-family: 'Inter';
  font-size: 14px;
  margin-top: 5px;
}

.successEntityDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 42%;
  width: 80%;
  background-color: #F6F6F6;
  border-radius: 10px;
  margin-top: 20px;
}

.successEntityDetailsHeader {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 15px;
}

.successDetailsFieldContainer {
  margin-top: 10px;
  margin-left: 16px;
}

.successDetailsFieldHeader {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: bold;
  color: #B0B0B0;
}

.successDetailsFieldValue {
  font-family: 'Inter';
  font-size: 12px;
  color: black;
  padding-right: 10px;
  word-wrap: break-word;
  max-width: 310px;
  display: block;
  margin-top: 2px;
}

.proceedButton {
  width: 155px;
  height: 50px;
  background-color: black;
  font: 'Inter';
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.2);
  transition-duration: 0.2s;
  margin-top: 12%;
}

/* DeployEntitySuccessView styles */

.loadingHeader {
<<<<<<< HEAD
  font-family: 'Asgard';
=======
  font-family: 'Inter';
>>>>>>> main
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  text-align: center; 
}
<<<<<<< HEAD

.loadingSubtitle {
  font-family: 'Inter';
  font-size: 15px;
=======
.loadingSubtitle {
  font-family: 'Inter';
  font-size: 14px;
  margin-top: 5px;
>>>>>>> main
}

/* Animations */

.entryToLoadingContainer {
  height: 260px;
  width: 420px;
  background-color: white;
  border-radius: 14px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: entryToLoadingAnimation 0.5s ease-in-out;
}

.loadingToSuccessContainer {
  width: 420px;
  height: 580px;
  margin-top: 30px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: white;
  border-radius: 14px;
  animation: loadingToSuccessAnimation 0.5s ease-in-out;
}

.progressBarFiller {
<<<<<<< HEAD
  background: linear-gradient(180deg, rgb(131, 255, 30) 0%, rgb(218, 255, 7) 100%);
=======
  background: linear-gradient(90deg, rgb(26, 75, 255) 0%, rgb(98, 216, 249) 70%);
>>>>>>> main
  width: 50%;
}

.loadingBarContainer {
  background-color: lightgray;
}

.loadingBar {
  width: 90%;
  border-radius: 10px;
}

.loadingAnimation {
  height: 70px;
  width: 70px;
  background-color: red;
  margin-top: -10px;
}



@media only screen and (max-width: 850px) {
  .entryContainer {
    height: 200px;
    width: 336px;
    background-color: white;
    border-radius: 14px;
    margin-top: 50px;;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .successHeader {
    font-size: 14px;
    margin-top: 15px;
    padding: 0px 10px;
  }

  .successSubheader {
    font-family: 'Inter';
    font-size: 12px;
    margin-top: 5px;
  }

  .successDetailsFieldHeader {
    font-size: 10px;
  }

  .successDetailsFieldValue {
    max-width: 170px;
    font-size: 10px;
  }

}

@keyframes entryToLoadingAnimation {
  0% {
    opacity: 0;
    height: 450px;
  }

  20% {
    opacity: 1
  }

  100% {
    height: 260px;
  }
}


@keyframes loadingToSuccessAnimation {
  0% {
    opacity: 0;
    height: 260px;
  }

  20% {
    opacity: 1
  }

  100% {
    height: 580px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1
  }
}

