.lpPageSection {
  height: 85vh;
  width:96vw;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #204066, #FFFFFF);
  margin: auto;
  overflow: hidden;
}

.navBar {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.badgeLogo {
  margin-left: 3%;
  font-size: 40px;
  font-weight: bold;
  font-family: 'AsgardFitMedium';
}

.topPageSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  background: url('/images/landingPage/noise.png');
}

.topSectionTextContainer {
  display: flex;
  flex-direction: column;

}

.badgeHeaderText {
  font-family: 'AsgardFitMedium';
  font-size: 40px;
  color: white;
  z-index: 2;
}

.badgeNormalText {
  font-family: 'Inter';
  font-size: 23px;
  color: white;
  font-family: 'Inter';
  font-weight: 200;
  z-index: 3;
}

.noise {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}