.navBar {
  height: 88px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  /* position: fixed; */
  top: 0;
}

.badgeLogo {
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'AsgardFitMedium';
}

.loginButton {
  height: 60px;
  width: 200px;
  background-color: black;
  visibility: visible;
  border-radius: 30px;
  margin-right: 40px;
  color: white;
  font: 'Inter';
  font-weight: bold;
  font-size: 14px;
  transition-duration: 0.2s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
}

.loginButton:hover {
  height: 60px;
  width: 215px;
  transition-duration: 0.2s;
  background-color: royalblue;
}

.accountInfoContainer {
  height: 60px;
  width: 200px;
  background-color: white;
  border-radius: 30px;
  margin-right: 40px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.profileImageCircle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #CE55B3, #FFA564);
  margin-left: 15px;
}

.address {
  font-family: 'Inter';
  font-size: 15px;
  color: black;
  margin-left: 10px;
}



@media only screen and (max-width: 850px) {

  .accountInfoContainer {
    height: 40px;
    width: 133px;
    margin-right: 25px;

  }

  .profileImageCircle {
    height: 20px;
    width: 20px;
  }

  .address {
    font-family: 'Inter';
    font-size: 10px;
    color: black;
    margin-left: 5px;
  }


  .navBar {
    height: 60px;
    justify-content: center;
  }

  .badgeLogo {
    font-size: 25px;
    margin-left: 0px;
  }

  .loginButton {
    height: 40px;
    width: 133px;
    background-color: black;
    border-radius: 30px;
    margin-right: 25px;
    font-size: 8px;
  }

  .loginButton:hover {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    transition-duration: 0.2s;
    background-color: royalblue;
  }

}