.sampleBadgeCard {
  background-color: purple;
  height: 490px;
  width: 330px;
  border-radius: 25px;
  color: white;
  margin-right: 50px;
  overflow: hidden;
  position: relative;
}

.imageContainer {
  background-color: rgb(50, 24, 24);
  height: 50%;
  width: 100%;
  z-index:0;
  position: absolute;
}

.bottomContainer {
  background: linear-gradient(to top, black 90%,rgba(0, 0, 0, 0.3));
  height: 55%;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0px;
}

.title {
  font-family: 'AsgardFitMedium';
  font-size: 25px;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.content {
  font-family: 'Inter';
  font-size: 16px;
  margin-left: 20px;
}